PORT=3000

# URL interne Docker (depuis le conteneur webapp vers le conteneur odoo)
ODOO_URL=http://odoo:8069


# Nom de la base de données Odoo créée sur http://localhost:8069
ODOO_DB=odoo

# Identifiants du compte administrateur Odoo 

ODOO_USER=admin@admin.com
ODOO_PASSWORD=admin

# Chemin de la base locale (relatif au conteneur)
DB_PATH=/usr/src/app/app/data/app.db
